
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" type="text/css" href="/style.css">
 
 
  <title>Delicious Dash</title> 
</head>
<body>  
  <nav>
    </label>
    <label class="logo">Delicious Dash</label>
    <ul>
      <a href="/">Home</a>
      <a href="/foods">Foods</a>
     
     
    </ul>
  </nav>

  


  

</body>
</html>
<!-- <body>
  <header class="header">
  
    
      <a href="/">Home</a>
      <a href="/foods">Foods</a>
     
    </nav>
  </header> -->

