<%- include('partials/header.ejs') %>

<!DOCTYPE html>
<html>
<head>
  <!-- Include your CSS file -->
  <link rel="stylesheet" type="text/css" href="/public/style.css">
  <title>About Us</title>
</head>
<body>
  <nav>
    <!-- Your navigation bar content here -->
  </nav>
  
  <div class="content">
    <div class="image">
      <img src="projectImages/pepperoni.jpeg" alt="About Us Image">
    </div>
    <div class="text">
      <h1>About Us</h1>
      <p>
        At Delicious Dash, we believe in celebrating the incredible people who make every mealtime memorable.
          Established in 2015, we've been on a delectable journey to revolutionize food delivery and support local communities.
          Our mission is simple:
      </p>
      <p>
        To empower and grow local economies, ensuring that when consumers enjoy their favorite dishes,
          local merchants thrive, and our dedicated Dashers earn a fair wage for their hard work. Our Journey:
          Delicious Dash was founded in 2015 by a team of food enthusiasts who saw the potential to create a more inclusive and
          beneficial food delivery experience. We set out to connect hungry diners with their favorite local restaurants while also
          giving a much-needed boost to small businesses.
      </p>
    
    </div>
  </div>
</body>
</html>








<%- include('./partials/footer.ejs') %>
