body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
  }
  
 
  body {
    background-color: #f7f4f4;
    font-family: Arial, sans-serif;
  }
  
 
  nav {
    background-color: #3d3c3c;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;

  }
  
  nav ul {
    list-style: none;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
 
  header {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
 
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 
  .food-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .food-item h3 {
    font-size: 20px;
  }
  
  .food-item p {
    font-size: 16px;
    margin: 10px 0;
  }
  

  button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
  

  .cart {
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .cart h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .cart-item p {
    font-size: 18px;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    float: left;
  }
  
  .text {
    flex: 1;
    padding: 20px;
  }
  

  